body {
	width: 100%;
	height: 100vh;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
}
.board {
	width:1024px;
	height:863px;
	margin: 0 auto;
	background: url("board.jpg") no-repeat;

}